<%= simple_form_for(@project_estimate) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.association :project %>
  <%= f.input :vendor %>
  <%= f.input :date, html5: true %>
  <%= f.input :estimate %>
  <%= f.input :contact %>
  <%= f.input :phone %>
  <%= f.input :details %>

  <div class="two-column">
    <div>
      <%= f.button :submit, class: 'button accent0' %>
    </div>
    <% unless @project_estimate.new_record? %>
      <%= link_to 'Delete', project_estimate_path(@project_estimate), class: 'button accent0', data: { method: :delete, confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
