<%= simple_form_for(@project_estimate) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :project %>
    <%= f.input :vendor %>
    <%= f.input :date, html5: true %>
    <%= f.input :estimate %>
    <%= f.input :contact %>
    <%= f.input :phone %>
    <%= f.input :details %>
  </div>

  <div class="actions">
    <div class="actions-primary">
      <%= f.button :submit, class: 'button' %>
    </div>
  </div>
<% end %>
