<p id="notice"><%= notice %></p>

<h1>Project Estimates</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Vendor</th>
      <th>Contact</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_estimates.each do |project_estimate| %>
      <tr>
        <td><%= project_estimate.project_id %></td>
        <td><%= project_estimate.vendor %></td>
        <td><%= project_estimate.contact %></td>
        <td><%= project_estimate.phone %></td>
        <td><%= link_to 'Show', project_estimate %></td>
        <td><%= link_to 'Edit', edit_project_estimate_path(project_estimate) %></td>
        <td><%= link_to 'Destroy', project_estimate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Estimate', new_project_estimate_path %>
