<div class="two-column">
  <div>
    <h1><%= @project_estimate.vendor %></h1>
  </div>
  <div class="no-wrap">
    <%= link_to 'Edit', edit_project_estimate_path(@project_estimate), class: 'button accent5' %>
  </div>
</div>

<dl>
  <dt>Project</dt>
  <dd>
  <% if @project_estimate.project %>
    <%= link_to @project_estimate.project.name, project_path(@project_estimate.project) %>
  <% end %>
  </dd>

  <% unless @project_estimate.date.blank? %>
    <dt>Date</dt>
    <dd><%= l(@project_estimate.date) if @project_estimate.date %></dd>
  <% end %>

  <% unless @project_estimate.estimate.blank? %>
    <dt>Estimate</dt>
    <dd><%= @project_estimate.estimate %></dd>
  <% end %>

  <% unless @project_estimate.contact.blank? %>
    <dt>Contact</dt>
    <dd><%= @project_estimate.contact %></dd>
  <% end %>

  <% unless @project_estimate.phone.blank? %>
    <dt>Phone</dt>
    <dd><%= @project_estimate.phone %></dd>
  <% end %>

  <% unless @project_estimate.details.blank? %>
    <dt>Details</dt>
    <dd><%= simple_format linkify_text @project_estimate.details %></dd>
  <% end %>
</dl>
