<%= simple_form_for(@estimate) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.association :project %>
  <%= f.input :vendor %>
  <%= f.input :date, html5: true %>
  <%= f.input :estimate %>
  <%= f.input :contact %>
  <%= f.input :phone %>
  <%= f.input :details %>

  <div class="two-column">
    <div>
      <%= f.button :submit, class: 'button accent5' %>
    </div>
    <% unless @estimate.new_record? %>
      <%= link_to 'Delete Estimate', estimate_path(@estimate), class: 'button accent0', data: { method: :delete, confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
