<%= estimate_breadcrumb(@estimate) %>

<div class="two-column">
  <div>
    <h1><%= @estimate.vendor %></h1>
  </div>
  <div class="no-wrap">
    <%= link_to 'Edit', edit_estimate_path(@estimate), class: 'button accent5' %>
  </div>
</div>

<dl>
  <% unless @estimate.date.blank? %>
    <dt>Date</dt>
    <dd><%= l(@estimate.date) %></dd>
  <% end %>

  <% unless @estimate.estimate.blank? %>
    <dt>Estimate</dt>
    <dd><%= @estimate.estimate %></dd>
  <% end %>

  <% unless @estimate.contact.blank? %>
    <dt>Contact</dt>
    <dd><%= @estimate.contact %></dd>
  <% end %>

  <% unless @estimate.phone.blank? %>
    <dt>Phone</dt>
    <dd><%= @estimate.phone %></dd>
  <% end %>

  <% unless @estimate.details.blank? %>
    <dt>Details</dt>
    <dd><%= simple_text @estimate.details %></dd>
  <% end %>
</dl>
