<div class="project list-item">
  <%= link_to(project.complete? ? incomplete_project_path(project, return_to: projects_path) : complete_project_path(project, return_to: projects_path), data: { method: :post }, class: "complete-toggle #{project.complete? ? "complete" : "incomplete"}") do %>
    <div class="icon"><%= project.complete? ? incomplete_icon : complete_icon %></div>
  <% end %>
  <%= link_to project_path(project), class: "name-and-progress" do %>
    <div class="name">
      <%= project.name %>
      <%= due_date_badge(project.due_date) %>
    </div>
    <div class="progress">
      <% if project.todos.any? %>
        <%= (project.todos.complete.count.to_f / project.todos.count * 100).round(1) %>%
      <% end %>
    </div>
  <% end %>
</div>
