<div class="two-column">
  <div>
    <h1><%= complete_icon_for(@project) %> <%= @project.name %></h1>
  </div>

  <div class="no-wrap">
    <%= link_to 'Edit', edit_project_path(@project), class: 'button accent5' %>
    <% if @project.complete? %>
      <%= link_to incomplete_icon, incomplete_project_path(@project), class: 'button accent5', data: { method: :post } %>
    <% else %>
      <%= link_to complete_icon, complete_project_path(@project), class: 'button accent5', data: { method: :post } %>
    <% end %>
  </div>
</div>

<dl>
  <% unless @project.due_date.blank? %>
    <dt>Due date</dt>
    <dd><%= @project.due_date %> <% if @project.due_date.present? %>(<%= time_ago_in_words(@project.due_date) %>)<% end %></dd>
  <% end %>

  <% unless @project.details.blank? %>
    <dt>Details</dt>
    <dd><%= simple_text @project.details %></dd>
  <% end %>
</dl>

<p>
  <strong>Estimates</strong>
  <%= link_to '+', new_project_estimate_path(project_id: @project.id), class: 'button accent4' %>
</p>

<div class="link-list">
  <% @project.project_estimates.each do |estimate| %>
    <%= link_to project_estimate_path(estimate) do %>
      <%= estimate.vendor %>
      <% if estimate.estimate.present? %>
        <span class="badge"><%= estimate.estimate %></span>
      <% end %>
    <% end %>
  <% end %>
</div>

<p>
  <strong>Todos</strong>
  <%= link_to '+', new_todo_path(project_id: @project.id), class: 'button accent4' %>
</p>

<div class="link-list">
  <%= render 'todos_list', todos: @project.todos.order(:status, :due_date, :name) %>
</div>
