<div class="two-column">
  <div>
    <h1><%= @project.name %></h1>
  </div>

  <div>
    <%= link_to 'Edit', edit_project_path(@project), class: 'button' %>
    <% if @project.complete? %>
      <%= link_to incomplete_icon, incomplete_project_path(@project), class: 'button', data: { method: :post } %>
    <% else %>
      <%= link_to complete_icon, complete_project_path(@project), class: 'button', data: { method: :post } %>
    <% end %>
  </div>
</div>

<dl>
  <dt>Due date:</dt>
  <dd><%= @project.due_date %> <% if @project.due_date.present? %>(<%= time_ago_in_words(@project.due_date) %>)<% end %></dd>

  <dt>Status:</dt>
  <dd><%= @project.status %></dd>

  <dt>Details:</dt>
  <dd><%= simple_format @project.details %></dd>
</dl>

<div style="display: flex; justify-content: space-between; align-items: center">
  <div>
    <h2>Estimates</h2>
  </div>
  <div>
    <%= link_to 'New Estimate', new_project_estimate_path(project_id: @project.id), class: 'button' %>
  </div>
</div>

<div class="link-list">
  <% @project.project_estimates.each do |estimate| %>
    <%= link_to project_estimate_path(estimate) do %>
      <%= estimate.vendor %>
      <% if estimate.estimate.present? %>
        <span class="badge"><%= estimate.estimate %></span>
      <% end %>
    <% end %>
  <% end %>
</div>

<br>

<div class="two-column">
  <div>
    <h2>Todos</h2>
  </div>
  <div>
    <%= link_to 'New Todo', new_todo_path(project_id: @project.id), class: 'button' %>
  </div>
</div>

<div class="link-list">
  <%= render 'todos_list', todos: @project.todos.order(:status, :due_date, :name) %>
</div>
