<div class="two-column">
  <div>
    <h1><%= complete_icon_for(@project) %> <%= @project.name %></h1>
  </div>

  <div class="no-wrap">
    <%= link_to 'Edit', edit_project_path(@project), class: 'button accent5' %>
    <% if @project.complete? %>
      <%= link_to incomplete_icon, incomplete_project_path(@project), class: 'button accent5', data: { method: :post } %>
    <% else %>
      <%= link_to complete_icon, complete_project_path(@project), class: 'button accent5', data: { method: :post } %>
    <% end %>
  </div>
</div>

<dl>
  <% unless @project.due_date.blank? %>
    <dt>Due date</dt>
    <dd><%= @project.due_date %> <% if @project.due_date.present? %>(<%= time_ago_in_words(@project.due_date) %>)<% end %></dd>
  <% end %>

  <% unless @project.details.blank? %>
    <dt>Details</dt>
    <dd><%= simple_text @project.details %></dd>
  <% end %>
</dl>

<%= render('estimates', project: @project) if @project.estimates_enabled? %>

<h2>Todos</h2>
<%= link_to 'New Todo', new_todo_path(project_id: @project.id), class: 'button button-wide accent4' %>

<div class="link-list">
  <%= render 'grouped_todos_list', todos: @project.todos %>
</div>
