<div class="navigate-back">
  <%= link_to "â† Back to list", projects_path %>
</div>

<div class="two-column">
  <div>
    <h1><%= complete_icon_for(@project) %> <%= @project.name %></h1>
  </div>

  <div class="no-wrap">
    <%= link_to 'Edit', edit_project_path(@project), class: 'button blue' %>
  </div>
</div>

<dl>
  <% unless @project.due_date.blank? %>
    <dt>Due date</dt>
    <dd>
      <%= l @project.due_date %>
      <%= due_date_badge(@project.due_date) %>
    </dd>
  <% end %>

  <% unless @project.details.blank? %>
    <dt>Details</dt>
    <dd><%= simple_text @project.details %></dd>
  <% end %>
</dl>

<%= render('estimates', project: @project) if @project.estimates_enabled? %>

<div class="navigation-header">
  <h2>Todos</h2>
  <%= link_to '+', new_todo_path(project_id: @project.id), class: 'button teal' %>
</div>

<div class="link-list">
  <%= render 'grouped_todos_list', todos: @project.todos %>
</div>
