<%= simple_form_for(todo) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name, autofocus: true %>
  <%= form.input :project_id, collection: Project.order(:name, :status).pluck(:name, :id) %>
  <%= form.input :due_on, html5: true %>
  <%= form.input :description, rows: 3 %>
  <%= form.input :status, as: :boolean, label: "Complete?", checked_value: "complete", unchecked_value: "incomplete" %>

  <%= form.submit 'Save', class: 'button button-wide accent5' %>
<% end %>

<hr>

<% unless @todo.new_record? %>
  <%= button_to 'Delete Todo', todo_path(@todo), class: 'button button-wide accent0', data: { method: :delete, confirm: 'Are you sure?' } %>
<% end %>
