<% if @todo_category %>
  <p>Showing <strong><%= @todo_category.name %></strong> todos. <%= link_to 'Show All', todos_path %></p>
<% end %>

<%= form_tag todos_path, class: 'form form-inline', method: :get do %>
  <div class="actions">
    <%= text_field_tag :q, params[:q], placeholder: 'Search', class: 'actions-primary' %>

    <div class="actions-secondary">
      <%= button_tag 'ðŸ”', name: nil %>
    </div>
  </div>
<% end %>

<br>

<%= link_to new_todo_path(todo_category_id: @todo_category&.id), class: 'btn btn-primary btn-block' do %>
  <% if @todo_category %>
    New <strong><%= @todo_category.name %></strong> Todo
  <% else %>
    New Todo
  <% end %>
<% end %>

<br>

<% @dates.each do |date, todos| %>
  <div style="text-align: center; font-weight: bold; margin-top: 1em">
    <% if date %>
      <% if date == Date.current %>
        Today
      <% else %>
        <%= l date %>
      <% end %>
    <% else %>
      [No Date]
    <% end %>
  </div>

  <%= render 'todos_list', todos: todos %>
<% end %>

<% if @todo_category %>
  <br>

  <%= link_to edit_todo_category_path(@todo_category), class: 'btn btn-primary btn-block' do %>
    Edit <strong><%= @todo_category.name %></strong> Category
  <% end %>
<% end %>
