<%= form_tag todos_path, class: 'form form-inline', method: :get do %>
  <div style="display: flex">
    <div style="flex-grow: 1">
      <%= text_field_tag :q, params[:q], autofocus: true, placeholder: 'Search' %>
    </div>

    <div>
      <%= button_tag 'ðŸ”', name: nil %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Todo', new_todo_path(todo_category_id: params[:todo_category_id]), class: 'btn btn-primary btn-block' %>

<br>

<% @todos.each do |todo| %>
  <%= link_to todo_path(todo), class: 'todo' do %>
    <%= todo.complete? ? 'âœ…' : '' %>
    <%= todo.name %>
    <%= todo_priority(todo) %>
    <% todo.todo_categories.each do |category| %>
      <%= content_tag :span, category.name, class: 'badge badge-primary' %>
    <% end %>
    <%= todo_due_on(todo) %>
  <% end %>
<% end %>
