<div class="two-column">
  <h1><%= @todo.name %></h1>
  <div>
    <%= link_to 'Edit', edit_todo_path(@todo), class: 'button' %>
    <% if @todo.incomplete? %>
      <%= link_to complete_icon, complete_todo_path(@todo), class: 'button', data: { method: :post } %>
    <% else %>
      <%= link_to incomplete_icon, incomplete_todo_path(@todo), class: 'button', data: { method: :post } %>
    <% end %>
  </div>
</div>

<br>

<dl>
  <dt>Project:</dt>
  <dd><%= link_to(@todo.project.name, project_path(@todo.project)) if @todo.project %></dd>

  <dt>Description:</dt>
  <dd><%= simple_format @todo.description %></dd>

  <dt>Due on:</dt>
  <dd>
  <%= l(@todo.due_on) if @todo.due_on %>
  <%= todo_due_on(@todo) %>
  </dd>

  <dt>Priority:</dt>
  <dd><%= todo_priority(@todo) %></dd>

  <dt>Status:</dt>
  <dd><%= @todo.status %></dd>
</dl>
