<h1><%= @todo.name %></h1>

<br>

<dl>
  <dt>Project:</dt>
  <dd><%= link_to(@todo.project.name, project_path(@todo.project)) if @todo.project %></dd>

  <dt>Categories:</dt>
  <dd>
    <% @todo.todo_categories.each do |category| %>
      <div><%= link_to category.name, todos_path(todo_category_id: category.id) %></div>
    <% end %>
  </dd>

  <dt>Description:</dt>
  <dd><%= simple_format @todo.description %></dd>

  <dt>Due on:</dt>
  <dd>
  <%= l(@todo.due_on) if @todo.due_on %>
  <%= todo_due_on(@todo) %>
  </dd>

  <dt>Priority:</dt>
  <dd><%= todo_priority(@todo) %></dd>

  <dt>Status:</dt>
  <dd><%= @todo.status %></dd>
</dl>

<div class="actions">
  <div class="actions-primary">
    <%= link_to 'Edit', edit_todo_path(@todo), class: 'button' %>
 
    <% if @todo.incomplete? %>
      <%= link_to 'Complete', complete_todo_path(@todo), class: 'button', data: { method: :post } %>
    <% else %>
      <%= link_to 'Incomplete', incomplete_todo_path(@todo), class: 'button', data: { method: :post } %>
    <% end %>
  </div>

  <div class="actions-secondary">
    <%= link_to 'Delete', todo_path(@todo), class: 'button button-red', data: { method: :delete, confirm: 'Are you sure?' } %>
  </div>
</div>
