<%= todo_breadcrumb(@todo) %>

<div class="two-column">
  <h1><%= complete_icon_for(@todo) %> <%= @todo.name %></h1>
  <div class="no-wrap">
    <%= link_to 'Edit', edit_todo_path(@todo), class: 'button blue' %>
  </div>
</div>

<br>

<dl>
  <% unless @todo.description.blank? %>
    <dt>Description</dt>
    <dd><%= simple_text @todo.description %></dd>
  <% end %>

  <% unless @todo.due_on.blank? %>
    <dt>Due on</dt>
    <dd>
    <%= l(@todo.due_on) if @todo.due_on %>
    <%= due_date_badge(@todo.due_on) %>
    </dd>
  <% end %>
</dl>
