<% if @todo.project.present? %>
  <div class="project-breadcrumb"><%= link_to(@todo.project.name, project_path(@todo.project)) %></div>
<% end %>

<div class="two-column">
  <h1><%= complete_icon_for(@todo) %> <%= @todo.name %></h1>
  <div class="no-wrap">
    <%= link_to 'Edit', edit_todo_path(@todo), class: 'button accent5' %>
    <% if @todo.incomplete? %>
      <%= link_to complete_icon, complete_todo_path(@todo), class: 'button accent5', data: { method: :post } %>
    <% else %>
      <%= link_to incomplete_icon, incomplete_todo_path(@todo), class: 'button accent5', data: { method: :post } %>
    <% end %>
  </div>
</div>

<br>

<dl>
  <% unless @todo.description.blank? %>
    <dt>Description</dt>
    <dd><%= simple_text @todo.description %></dd>
  <% end %>

  <% unless @todo.due_on.blank? %>
    <dt>Due on</dt>
    <dd>
    <%= l(@todo.due_on) if @todo.due_on %>
    <%= todo_due_on(@todo) %>
    </dd>
  <% end %>
</dl>
