<% todos.incomplete.order(Arel.sql("CASE WHEN due_date IS NULL THEN '9999-12-31' ELSE due_date END"), :name).group_by(&:due_date).each do |date, todis| %>
  <div class="todo-list-heading">
    <h3>
      <% if date %>
        <% if date < Date.current %>
          <span class="red"><%= l date %></span>
        <% elsif date == Date.current %>
          Today
        <% else %>
          <%= l date %>
        <% end %>
      <% else %>
        No Due Date
      <% end %>
    </h3>

    <% if date && date != Date.current %>
      <span class="badge"><%= pluralize (date - Date.current).to_i, 'day' %></span>
    <% end %>
  </div>

  <%= render 'todos_list', todos: todis %>
<% end %>

<% if todos.complete.any? %>
  <h3 class="teal todo-list-heading">Complete</h3>
  <%= render 'todos_list', todos: todos.complete.order(:name) %>
<% end %>
