<% todos.incomplete.order("CASE WHEN due_on IS NULL THEN '9999-12-31' ELSE due_on END").group_by(&:due_on).each do |date, todis| %>
  <div class="link-list-group">
    <div class="link-list-group-title">
      <% if date %>
        <% if date < Date.current %>
          <span class="accent0"><%= l date %></span>
        <% elsif date == Date.current %>
          Today
        <% else %>
          <%= l date %> <span class="badge"><%= time_ago_in_words(date) %></span>
        <% end %>
      <% else %>
        No Due Date
      <% end %>
    </div>
  </div>

  <%= render 'todos_list', todos: todis %>
<% end %>

<% if todos.complete.any? %>
  <div class="link-list-group">
    <div class="link-list-group-title accent4">Complete</div>
    <%= render 'todos_list', todos: todos.complete %>
  </div>
<% end %>
