<div class="todo-list">
  <% todos.each do |todo| %>
    <%= content_tag :div, class: "todo #{todo.status} #{"late" if todo.late?}" do %>
      <%= complete_toggle(todo) %>
      <%= link_to todo_path(todo), class: 'name' do %>
        <%= todo.name %>
        <%= todo_priority(todo) %>
      <% end %>
    <% end %>
  <% end %>
</div>
