<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Projects', projects_path, id: 'projects-link', class: ('active' if current_page?(controller: 'projects')) %>
        <%= link_to 'Todos', todos_path, id: 'todos-link', class: ('active' if current_page?(controller: 'todos')) %>
        <%= link_to 'Categories', todo_categories_path, id: 'categories-link', class: ('active' if current_page?(controller: 'todo_categories')) %>
        <%= link_to 'âš™', profile_path, id: 'profile-link', class: ('active' if current_page?(controller: 'profiles', action: 'show')) %>
          <div style="flex-grow: 1"></div>
        <%= link_to 'ðŸ”', search_path, id: 'search-link', class: ('active' if current_page?(controller: 'search')) %>
      </nav>
    </header>

    <main>
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>

      <%= yield %>
    </main>

    <footer>
    </footer>
  </body>
</html>
