<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  </head>

  <body>
    <div id="root"></div>

    <script>
      const currentUser = <%= current_user.as_json.except("password_digest").to_json.html_safe %>
    </script>
  </body>
</html>
