<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  </head>

  <body>
    <header>
      <nav>
        <%= navigation %>
      </nav>
    </header>

    <main>
      <% if notice %>
        <div class="alert alert-success">
          <%= notice %>

          <% if flash[:undo].present? %>
            <%= link_to 'Undo', flash[:undo], method: :post %>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <footer>
    </footer>
  </body>
</html>
